<!DOCTYPE html>
<html lang="en">
 <head>
  <meta charset="utf-8"/>
  <link href="/favicon.ico" rel="icon"/>
  <meta content="width=device-width,initial-scale=1" name="viewport"/>
  <meta content="#000000" name="theme-color"/>
  <meta content="Web site created using create-react-app" name="description"/>
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&amp;display=fallback" rel="stylesheet"/>
  <link href="/adminlite/plugins/fontawesome-free/css/all.min-26386564b5cf1594be24059af1cd0db9.css" rel="stylesheet"/>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
  <link rel="stylesheet" th:href="@{/adminlite/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css}"/>
  <link rel="stylesheet" th:href="@{/adminlite/plugins/datatables-responsive/css/responsive.bootstrap4.min.css}"/>
  <link href="https://adminlite.s3.ap-south-1.amazonaws.com/adminlite/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet"/>
  <link href="https://adminlite.s3.ap-south-1.amazonaws.com/adminlite/plugins/datatables-responsive/css/responsive.bootstrap4.min.css" rel="stylesheet"/>
  <link href="https://adminlite.s3.ap-south-1.amazonaws.com/adminlite/dist/css/adminlte.min.css" rel="stylesheet"/>
  <link href="https://adminlite.s3.ap-south-1.amazonaws.com/adminlite/plugins/overlayScrollbars/css/OverlayScrollbars.min.css" rel="stylesheet"/>
  <link href="https://adminlite.s3.ap-south-1.amazonaws.com/adminlite/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css" rel="stylesheet"/>
  <link href="https://adminlite.s3.ap-south-1.amazonaws.com/adminlite/plugins/toastr/toastr.min.css" rel="stylesheet"/>
  <link href="https://adminlite.s3.ap-south-1.amazonaws.com/adminlite/plugins/select2/css/select2.min.css" rel="stylesheet"/>
  <link href="https://adminlite.s3.ap-south-1.amazonaws.com/adminlite/plugins/daterangepicker/daterangepicker.css" rel="stylesheet"/>
  <link href="https://adminlite.s3.ap-south-1.amazonaws.com/adminlite/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet"/>
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet"/>
  <link href="/plugins/fontawesome-free/css/all.min.css" rel="stylesheet"/>
  <link href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet"/>
  <link href="/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet"/>
  <link href="/plugins/icheck-bootstrap/icheck-bootstrap.min.css" rel="stylesheet"/>
  <link href="/plugins/jqvmap/jqvmap.min.css" rel="stylesheet"/>
  <link href="/dist/css/adminlte.min.css" rel="stylesheet"/>
  <link href="/plugins/overlayScrollbars/css/OverlayScrollbars.min.css" rel="stylesheet"/>
  <link href="/plugins/daterangepicker/daterangepicker.css" rel="stylesheet"/>
  <link href="/plugins/summernote/summernote-bs4.css" rel="stylesheet"/>
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet"/>
  <title>
   1EX99
  </title>
  <script defer="defer" src="/static/js/main.6e0cda40.js">
  </script>
  <link href="/static/css/main.39ef37da.css" rel="stylesheet"/>
 </head>
 <body class="sidebar-mini layout-fixed" data-panel-auto-height-mode="height" style="height:auto">
  <noscript>
   You need to enable JavaScript to run this app.
  </noscript>
  <div id="root">
  </div>
  <script src="/plugins/jquery/jquery.min.js">
  </script>
  <script src="/plugins/jquery-ui/jquery-ui.min.js">
  </script>
  <script>
   $.widget.bridge("uibutton",$.ui.button)
  </script>
  <script src="/plugins/bootstrap/js/bootstrap.bundle.min.js">
  </script>
  <script src="/plugins/sparklines/sparkline.js">
  </script>
  <script src="/plugins/jqvmap/jquery.vmap.min.js">
  </script>
  <script src="/plugins/jqvmap/maps/jquery.vmap.usa.js">
  </script>
  <script src="/plugins/jquery-knob/jquery.knob.min.js">
  </script>
  <script src="/plugins/moment/moment.min.js">
  </script>
  <script src="/plugins/daterangepicker/daterangepicker.js">
  </script>
  <script src="/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js">
  </script>
  <script src="/plugins/summernote/summernote-bs4.min.js">
  </script>
  <script src="/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js">
  </script>
  <script src="/dist/js/adminlte.js">
  </script>
  <script src="/dist/js/pages/dashboard.js">
  </script>
  <script src="/dist/js/demo.js">
  </script>
  <script crossorigin="anonymous" data-cf-beacon='{"version":"2024.11.0","token":"1138f529878d4238beea4f173436250e","r":1,"server_timing":{"name":{"cfCacheStatus":true,"cfEdge":true,"cfExtPri":true,"cfL4":true,"cfOrigin":true,"cfSpeedBrain":true},"location_startswith":null}}' defer="" integrity="sha512-57MDmcccJXYtNnH+ZiBwzC4jb2rvgVCEokYN+L/nLlmO8rfYT/gIpW2A569iJ/3b+0UEasghjuZH/ma3wIs/EQ==" src="https://static.cloudflareinsights.com/beacon.min.js/v833ccba57c9e4d2798f2e76cebdd09a11778172276447">
  </script>
 </body>
</html>
